<ion-header>
  <ion-toolbar>
    <ion-title>
      Ricardo moveis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-input [(ngModel)]="valor">
    <ion-input [(ngModel)]="valor2">

    </ion-input>
  </ion-input>

{{ nome }}
  <b>Mecita rare danta</b>
  <p>Vi sitter här i Venten och spelar lite DotA
och pushar på och smeker
med motståndet vi leker
Vi sitter här i Venten och spelar lite DotA
och springer runt och creepar
och motståndet vi sleepar</p>
<ion-button (click)="clicar()"> Mecita rare danta </ion-button>
<component-par></component-par>
<zap-par></zap-par>
<component3-par></component3-par>
<component-slide></component-slide>
  
</ion-content>
