<ion-header>
  <ion-toolbar>
    <ion-title>
      Geladeira Tsunami
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

{{ nome }}
  <b>Salve o corinthians</b>
  <p>Salve o Corinthians
O campeão dos campeões
Eternamente
Dentro dos nosso corações
Salve o Corinthians
De tradições e glórias mil
Tu és orgulho, dos desportistas do Brasil
Teu passado é uma bandeira
Teu presente é uma lição
Figuras entre os primeiros do nosso esporte bretão
Corinthians Grande
Sempre Altaneiro
És do Brasil
O clube mais brasileiro
Salve o Corinthians
O campeão dos campeões
Eternamente
Dentro dos nosso corações
Salve o Corinthians
De tradições de tradições e glórias mil
Tu és orgulho, dos desportistas do Brasil</p>
<ion-button (click)="clicar()"> Bater em palmeirense</ion-button>


  <ion-img src="https://i.ytimg.com/vi/qMdpLe9AR1Y/maxresdefault.jpg"></ion-img>
</ion-content>
